body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

.scrollbar-measure  {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
.trigger {
	position: absolute;
	display: block;
	height: 1px;
	background-color: red;
}
